.bg-image {

  background-image:url("picture.jpg");
  filter: blur(3px);
  -webkit-filter: blur(3px);
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.h3{
	color: #C4H2H2;
	font-size: 30px;
	font-family: "roboto",sans-seif;
	text-align: center;
	margin: 10px 0 0 ;

}

.bg-text {
  
  color: black;
  font-weight: bold;
  position: absolute;
  top: 10%;
  left:10%;
  width: 80%;
  height:29%;
  padding: 0px;
}

.login-page{
	width: 360px;
	padding: 10% 0 0;
	margin: auto;
}

.form{
	position: relative;
	z-index: 1;
	background: rgba(15,50,105,0.7);
	max-width: 360px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
}

.form input{
	font-family: "roboto",sans-seif;
	outline: 1;
	background: #f3f3f4;
	width: 100%;
	border:0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}

.form button{
	 font-family: "roboto",sans-seif;
	 text-transform: uppercase;
	 outline: 0;
	 background: #C4f650;
	 width: 100%;
	 border: 0;
	 padding: 15px;
	 color: #ffffff;
	 font-size: 14px;
	 cursor: pointer;

}

.form button:hover,.form button:active{
	background: #4389f0;
}

.form .message{
	margin: 15px 0 0;
	color: aliceblue;
	font-size: 12px;
}

.form .message a{
	color:#4caf50;
    text-decoration: none;
}

.form .register-form{
	display: none;
}



